:root {
  --color-primary: #4bade9;
  --color-primary-light: #80e5fd;
  --color-primary-dark: #1675d5;
  --color-secondary: #fdc252;
  --color-secondary-light: #fff08a;
  --color-secondary-dark: #fb941a;
  --color-neutral: #cecece;
  --color-neutral-2: #1e1e1e;

  --font-primary: "Overpass", sans-serif;
  --font-secondary: "Bebas Neue", cursive;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-secondary);
}

h2 {
  font-family: var(--font-secondary);
}
