:root {
  --color-primary: #5bb7fd;
  --color-primary-light: #81e4f7;
  --color-primary-dark: #4c96f7;
  --color-secondary: #fdc252;
  --color-neutral: #cecece;
  --color-neutral-2: #1e1e1e;

  --font-primary: "Overpass", sans-serif;
  --font-secondary: "Bebas Neue", cursive;
}

html {
  font-family: var(--font-primary);
}
