:root {
  --color-primary: #FFAAC8;
  --color-primary-light: #FFC3D8;
  --color-primary-dark: #BE395D;
  --color-secondary: #4C96F7;
  --color-neutral: #cecece;

  --font-primary: "Overpass", sans-serif;
  --font-secondary: "Bebas Neue", cursive;
}

html {
  font-family: var(--font-primary);
}
