---
layout: default
highlight_nav: home
---

{% pattern banner/banner heading="Spring Cleaning?" text="Replace those old socks you just cleaned out of your closet with our new arrivals!" %}

<div class="pad-t">
  <h2 class="push-0 pad-t-2 island-1-4 gutter-2 exa">Featured Products</h2>
  <div class="grid gutter-2">
    {% assign random_products=site.products|sample:4 %}
    {% for product in random_products %}
      <div class="unit [ xs-1 s-1 m-1-2 l-1-4 ] island-1-4">
        {% pattern cards/product-card data=product %}
      </div>
    {% endfor %}
    <div class="unit push">
      {% pattern buttons/btn-link %}
    </div>
  </div>


  <h2 class="push-0 pad-t-2 island-1-4 gutter-2 exa">New Arrivals</h2>
  <div class="grid gutter-2">
    {% assign random_products=site.products|sample:4 %}
    {% for product in random_products %}
      <div class="unit [ xs-1 s-1 m-1-2 l-1-4 ] island-1-4">
        {% pattern cards/product-card data=product %}
      </div>
    {% endfor %}
    <div class="unit push">
      {% pattern buttons/btn-link %}
    </div>
  </div>

  <h2 class="push-0 pad-t-2 island gutter-2 exa">Shop</h2>

  <div class="grid gutter-2 pad-b">
    <div class="unit xs-1 s-1 m-1-2 l-2">
      <div class="island-1-4">
        {% pattern cards/category-card image="/images/mens.jpg" %}
      </div>
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-2">
      <div class="island-1-4">
        {% pattern cards/category-card image="/images/womens.jpg" %}
      </div>
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-2">
      <div class="island-1-4">
        {% pattern cards/category-card image="/images/kids.jpg" %}
      </div>
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-2">
      <div class="island-1-4">
        {% pattern cards/category-card image="/images/bestsellers.jpg" %}
      </div>
    </div>
  </div>

  <h2 class="push-0 pad-t-2 island gutter-2 exa">Collections</h2>

  <div class="grid gutter-2 pad-b-2">
    <div class="unit xs-1 s-1 m-1-4 l-4">
      <div class="island-1-4">
        {% pattern cards/collections-card title="Athletic" image="/images/athletic.jpg" %}
      </div>
    </div>
    <div class="unit xs-1 s-1 m-1-4 l-4">
      <div class="island-1-4">
        {% pattern cards/collections-card title="Delish" image="/images/breakfast.jpg" %}
      </div>
    </div>
    <div class="unit xs-1 s-1 m-1-4 l-4">
      <div class="island-1-4">
        {% pattern cards/collections-card title="Pattern" image="/images/pattern.jpg" %}
      </div>
    </div>
    <div class="unit xs-1 s-1 m-1-4 l-4">
      <div class="island-1-4">
        {% pattern cards/collections-card title="Summer" image="/images/summer.jpg" %}
      </div>
    </div>
  </div>
</div>
