.btn {
  background-color: var(--color-primary);
  color: #fff;
  border: solid 2px var(--color-primary);
  border-radius: 3px;
  font-family: var(--font-secondary);
}

.btn:hover {
  background-color: var(--color-secondary);
  color: #fff;
  border: solid 2px var(--color-secondary);
  border-radius: 3px;
  font-family: var(--font-secondary);
  transition: ease-in-out .25s;
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-primary)
}

.btn-ghost:hover {
  background-color: transparent;
  color: var(--color-secondary);
  border: solid 2px var(--color-secondary);
  transition: ease-in-out .25s;
}

.btn-light {
  background-color: var(--color-primary-light);
  color: #fff;
  border: solid 2px var(--color-primary-light);
  border-radius: 3px;
  font-family: var(--font-secondary);
}

.btn-light:hover {
  background-color: var(--color-secondary);
  color: #fff;
  border: solid 2px var(--color-secondary);
  border-radius: 3px;
  font-family: var(--font-secondary);
  transition: ease-in-out .25s;
}
