.btn {
  background-color: var(--color-primary);
  color: #fff;
  border: solid 2px var(--color-primary);
  border-radius: 3px;
  font-family: var(--font-secondary);
}

.btn:hover {
  background-color: var(--color-secondary);
  color: #fff;
  border: solid 2px var(--color-secondary);
  border-radius: 3px;
  font-family: var(--font-secondary);
  transition: ease-in-out .25s;
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-primary);
}

.btn-ghost:hover {
  background-color: transparent;
  color: var(--color-secondary);
  border: solid 2px var(--color-secondary);
  transition: ease-in-out .25s;
}

.btn-light {
  background-color: #fff;
  color: var(--color-primary);
  border: solid 2px #fff;
  border-radius: 2px;
  font-family: var(--font-secondary);
}

.btn-light:hover {
  background-color: var(--color-primary);
  color: #fff;
  border: solid 2px var(--color-primary);
  border-radius: 2px;
  font-family: var(--font-secondary);
  transition: ease-in-out .25s;
}

.card-shop-btn {
  background-color: #fff;
  color: var(--color-primary);
  border: solid 1px #fff;
  border-radius: 2px;
  font-family: var(--font-secondary);
}

.card-shop-btn:hover {
  color: var(--color-primary);
  border: solid 1px #fff;
  background-color: rgba(256, 256, 256, 1);
  box-shadow: 10px 10px 0 var(--color-primary);
  transition: ease-in-out .25s;
 }

.btn-link {
  color: var(--color-neutral-2);
  text-decoration: underline;
  background-color: transparent;
  border: none;
}

.btn-link:hover {
  color: var(--color-primary);
  text-decoration: underline;
  background-color: transparent;
  border: none;
}

.btn-cart {
  background-color: var(--color-primary);
  color: #fff;
  border: solid 2px var(--color-primary);
  border-radius: 3px;
  font-family: var(--font-secondary);
}

.btn-cart:hover {
  background-color: var(--color-secondary);
  color: #fff;
  border: solid 2px var(--color-secondary);
  border-radius: 3px;
  font-family: var(--font-secondary);
  transition: ease-in-out .25s;
}
