.current {
  border: none;
}

nav {
  background-color: var(--color-neutral-2);
  z-index: 999;
}

svg {
  color: #fff;
}

.nav-btn {
  background-color: transparent;
  border: solid 2px transparent;
}

.nav-btn:hover {
  background-color: #fff;
  border: solid 2px #fff;
  color: var(--color-neutral-2);
}

.current {
  background-color: var(--color-primary);
  border-radius: 2px;
}

.search-input {
  background-color: transparent;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-size: 12%;
  background-position: center left;
  border: solid 2px #fff;
  border-radius: 100px;
  text-indent: 1.7em;
  color: #fff;
}

.btn-bag {
  color: #fff;
}

.btn-bag:hover {
  color: var(--color-neutral-2);
}
