<header class="grid">
  <nav class="unit island-1-2 fixed giga unit-xs-cenered unit-s-centered xs-1 s-1 m-1 l-1 nav-top" role="navigation" id="nav" tabindex="0">
    <div class="icon text-center xs-1 s-1 m-1 l-1-4">
      <a href="/">
        <i class="icon i-48"><svg><use xlink:href="/images/icons.svg#logo"></use></svg></i>
      </a>
    </div>
    <div class="unit right text-center unit-xs-cenered unit-s-centered xs-1 s-1 m-1 l-3-4">
      <ul class="ib list-group-inline v-align text-left rigth push-0">
        <li class="milli {% if page.highlight_nav == 'home' %}current{% endif %}"><a class="btn nav-btn link-box gutter" href="/">Home</a></li>
        <li class="milli {% if page.highlight_nav == 'shop' %}current{% endif %}"><a class="btn nav-btn link-box gutter" href="/products/">Shop</a></li>
        <li class="milli {% if page.highlight_nav == 'contact' %}current{% endif %}"><a class="btn nav-btn link-box gutter" href="/contact/">Contact</a></li>
        <li class="milli {% if page.highlight_nav == 'cart' %}current{% endif %}"><a class="btn nav-btn link-box gutter" href="/cart/">Bag [2]</a></li>
        <li>
          <form class="unit xs-0 s-0 m-1 push-0 pad-t-1-4">
            <div class="grid grid-middle">
              <div class="unit xs-1 s-1 m-1 l-1">
                <input class="search-input" type="search" id="search">
              </div>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</header>
