input {
  border: solid 1px var(--color-neutral-3);
}

select {
  border: solid 1px var(--color-neutral-3);
}

textarea {
  border: solid 1px var(--color-neutral-3);
}

.question {
  color: var(--color-neutral);
}
