---
layout: default
---

<div>

  <div class="grid pad-t-2">
    <div class=" unit pad-t-2 w-1">
      {% pattern navigation/breadcrumb-trail %}
    </div>
    <div class="">
      <div class="unit xs-1 s-1 m-1-2 l-1-2">
        <div class="grid">
          <div class="unit push-2 xs-1 s-1 m-1 l-1">
            <img class="img-flex island-2" src="{{page.image}}" alt="">
          </div>
        </div>
      </div>
      <div class="unit push-r-2 xs-1 s-1 m-1-2 l-1-2">
        <div class="grid">
          <div class="unit xs-1 s-1 m-1 l-1">
            {% pattern sections/product-summary %}
          </div>
          <div class="grid xs-1 s-1 m-1 l-1">
            <div class="unit xs-1 s-1 m-1-2 l-1-2">
              <h2 class="push-0">Size</h2>
              <div class="push-0">
                {% pattern forms/size-selection %}
              </div>
            </div>
            <div class="unit xs-1 s-1 m-1-2 l-1-2">
              <h2 class="push-0">QTY</h2>
              <div>
                {% pattern checkout/quantity %}
              </div>
            </div>
            <div class="unit push-2 left xs-1 s-1 m-1-2 l-1-2">
              <div class="push-0">
                {% pattern buttons/basic text="Add" url="/cart/" %}
              </div>
            </div>
          </div>
          <div>
            {% pattern sections/product-description %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="unit push-0 pad-t-2 gutter-2 exa">Recommended</h2>

  <div class="grid gutter-2 pad-b-2 w-1">
    <div class="unit s-1-2 m-1-4 l-4">
      <div class="island-1-4">
        {% pattern cards/collections-card title="Athletic" image="/images/athletic.jpg" %}
      </div>
    </div>
    <div class="unit s-1-2 m-1-4 l-4">
      <div class="island-1-4">
        {% pattern cards/collections-card title="Delish" image="/images/breakfast.jpg" %}
      </div>
    </div>
    <div class="unit s-1-2 m-1-4 l-4">
      <div class="island-1-4">
        {% pattern cards/collections-card title="Pattern" image="/images/pattern.jpg" %}
      </div>
    </div>
    <div class="unit s-1-2 m-1-4 l-4">
      <div class="island-1-4">
        {% pattern cards/collections-card title="Summer" image="/images/summer.jpg" %}
      </div>
    </div>
  </div>

</div>
