h1 {
  font-family: var(--font-secondary);
}

.container {
  top: 50%;
  max-height: 45em;
  overflow: hidden;
  bottom: 50%;
  margin-top: 7.188em;
}

.container-2 {
  top: 50%;
  max-height: 20em;
  overflow: hidden;
  bottom: 50%;
  margin-top: 7.063em;
}

.banner-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 20px rgba(47, 67, 110, 1);
  color: #fcfcfc;
}

@media only screen and (min-width: 20em) {

  .container {
    margin-top: 106.37px;
  }

  .container-2 {
    margin-top: 106.37px;
  }

}

@media only screen and (min-width: 25em) {

  .container {
    margin-top: 6.625em;
  }

  .container-2 {
    margin-top: 6.625em;
  }

}

@media only screen and (min-width: 38em) {

  .container {
    margin-top: 4em;
  }

  .container-2 {
    margin-top: 4em;
  }

}

@media only screen and (min-width: 60) {

  .container {
    margin-top: 4em;
  }

  .container-2 {
    margin-top: 4em;
  }

}
