h1 {
  font-family: var(--font-secondary);
}

.container {
  top: 50%;
  overflow: hidden;
  bottom: 50%;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 20px rgba(47, 67, 110, .5);
  color: #fff;
}

@media only screen and (min-width: 20em) {

  .banner-content h1 {
    font-size: 1.7em;
  }

  .banner-content p {
    font-size: .7em;
    margin-bottom: .75em;
  }

  .container {
    margin-top: 3.9em;
  }

}

@media only screen and (min-width: 23em) {

  .banner-content h1 {
    font-size: 3.3em;
  }

  .banner-content p {
    font-size: 1em;
    margin-bottom: .75em;
  }

  .container {
    margin-top: 3.9em;
  }

}

@media only screen and (min-width: 25em) {

  .banner-content h1 {
    font-size: 3em;
  }

  .banner-content p {
    font-size: 1em;
    margin-bottom: .75em;
  }

  .container {
    margin-top: 3.8em;
  }

}

@media only screen and (min-width: 38em) {

  .banner-content h1 {
    font-size: 3.1em;
  }

  .banner-content p {
    font-size: 1em;
  }

  .container {
    margin-top: 3.7em;
  }

}

@media only screen and (min-width: 60em) {

  .banner-content h1 {
    font-size: 4em;
  }

  .banner-content p {
    font-size: 1em;
  }

  .container {
    margin-top: 1em;
  }

}
