h1 {
  font-family: var(--font-secondary);
}

.container {
  top: 50%;
  overflow: hidden;
  bottom: 50%;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 20px rgba(47, 67, 110, .5);
  color: #fff;
}

@media only screen and (min-width: 20em) {

  .container {
    margin-top: 60px;
  }

  .container-2 {
    margin-top: 60px;
  }

}

@media only screen and (min-width: 25em) {

  .banner-content h1 {
    font-size: 3.3em;
  }

  .banner-content p {
    font-size: 1em;
    margin-bottom: .5em;
  }

}

@media only screen and (min-width: 38em) {

  .banner-content h1 {
    font-size: 4em;
  }

  .banner-content p {
    font-size: 1em;
  }

  .container {
    margin-top: 18px;
  }

  .container-2 {
    margin-top: 18px;
  }

}

@media only screen and (min-width: 48) {

  .banner-content h1 {
    font-size: 6em;
  }

  .banner-content p {
    font-size: 1em;
  }

}
